<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <!-- Basic Styles -->
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/font-awesome.min.css" />

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <include path="~/Content/smartadmin-production-plugins.min.css" />
    <include path="~/Content/smartadmin-production.min.css" />
    <include path="~/Content/smartadmin-skins.min.css" />

    <!-- SmartAdmin RTL Support -->
    <include path="~/Content/smartadmin-rtl.min.css" />

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <include path="~/Content/demo.min.css" />
    
    <!-- 自定義 Styles -->
    <include path="~/Content/Site.css" />
  </styleBundle>
</bundles>