<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>   
    <!--子視窗大小-->
    <add key="C_Width" value="1000" />
    <add key="C_Height" value="450" />
  </appSettings>
  <connectionStrings>
    <!--資料連結-->   
    
    <add name="DNS_SYS" connectionString="Server=192.168.2.102;Database=tcia_system_db;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_ACC" connectionString="Server=192.168.2.102;Database=tcia_accdb;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_PGM" connectionString="Server=192.168.2.102;Database=pgm;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_AUTH" connectionString="Server=192.168.2.102;Database=tcia_Auth;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_FUND" connectionString="Server=192.168.2.102;Database=tcia_funddb;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
     
   <!--
    <add name="DNS_SYS" connectionString="Server=KULIUSNB\SQL2012;Database=system_db;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_ACC" connectionString="Server=KULIUSNB\SQL2012;Database=accdb_db;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_PGM" connectionString="Server=KULIUSNB\SQL2012;Database=PGM_db;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_AUTH" connectionString="Server=KULIUSNB\SQL2012;Database=Auth_db;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
    <add name="DNS_FUND" connectionString="Server=KULIUSNB\SQL2012;Database=funddb;User ID=acc;Password=acc; Max Pool Size=99999;" providerName="System.Data.SqlClient" />
     -->


  </connectionStrings>
  <system.web>
    <sessionState mode="StateServer" timeout="500" stateConnectionString="tcpip=127.0.0.1:42424" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <authentication mode="None" />
    <compilation debug="true" strict="false" explicit="true" batch="true" maxBatchSize="10000" maxBatchGeneratedFileSize="10000" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages maintainScrollPositionOnPostBack="true">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <membership>
      <providers>
        <!--
        已在此範本中停用 ASP.NET 成員。請造訪以下連結 http://go.microsoft.com/fwlink/?LinkId=301889 以深入了解此範本支援的 ASP.NET 成員
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        已在此範本中停用 ASP.NET 成員設定檔。請造訪以下連結 http://go.microsoft.com/fwlink/?LinkId=301889 以深入了解此範本支援的 ASP.NET 成員
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          已在此範本中停用 ASP.NET 成員角色。請造訪以下連結 http://go.microsoft.com/fwlink/?LinkId=301889 以深入了解此範本支援的 ASP.NET 成員
     -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            如果您正在部署具有多個網頁伺服器執行個體的雲端環境，
            您應該將工作階段狀態從 "InProc" 變更為 "Custom"。此外，
            將名為 "DefaultConnection" 的連線字串約更為連線至 SQL Server 的
            執行個體 (包含 SQL Azure 和 SQL Compact) 而不是 SQL Server Express。
      -->
    <!--
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
   -->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>